<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maic.kurlyhack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KurlyHack">
        <activity
            android:name=".feature.das.DasBarcodeActivity"
            android:exported="true" />
        <activity
            android:name=".feature.das.CountErrorActivity"
            android:exported="true" />
        <activity
            android:name=".feature.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".feature.das.DasActivity"
            android:exported="true" />
        <activity
            android:name=".feature.picking.NoticeActivity"
            android:exported="true" />
        <activity
            android:name=".feature.picking.ItemActivity"
            android:exported="true" />
        <activity
            android:name=".feature.picking.PickingBarCodeActivity"
            android:exported="true" />
        <activity
            android:name=".feature.picking.SelectPickingActivity"
            android:exported="true" />
        <activity
            android:name=".feature.picking.PickingActivity"
            android:exported="true" />
        <activity
            android:name=".feature.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>